In [1]:
#Importing the libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

In [69]:
driver=webdriver.Chrome("chromedriver.exe")

In [70]:
url = "https://www.flipkart.com/"
driver.get(url)

In [71]:
#Closing login pop-up
close=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()

##### Laptop

In [7]:
#Entering Laptop in search bar

driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("laptop")
time.sleep(2)

In [8]:
#Clicking on search button
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [9]:
#appending urls of product
urls=[]
for i in range(10):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click() #Clicking next button
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [10]:
rating=[]
review=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # click on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            review.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            rating.append(b.text)
        time.sleep(1)
        #clicking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages for all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                review.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                rating.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(1)
            except:
                break
    except:
        print("NaN")

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [11]:
df1=pd.DataFrame({})
df1['Full_Reviews']=review
df1['Ratings']=rating
df1

                                           Full_Reviews Ratings
0     Nice laptop...\ni5 processor is good coupled w...       5
1     Nice smooth great display the best of the mone...       5
2     The product was as advertised and my son is su...       5
3     awesome beast. everything top notch and full v...       5
4     Good product,however a six core cpu and 1tb SS...       5
...                                                 ...     ...
3191  I found this product with a manufacturing defe...       1
3192  Decent one\n\nLight weight\nIt won't bend full...       2
3193  It's display quality is awesome\nBacklit keybo...       5
3194  Very good product by Flipkart.\nIt's display q...       5
3195  Faced issues with audio port/jack just 1 month...       1

[3196 rows x 2 columns]

In [13]:
# saving as csv file
df1.to_csv("laptop.csv")

In [14]:
# Clearing search bar
driver.find_element_by_xpath("//input[@class='_3704LK']").clear()

#### Smart watches

In [15]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Smart watches")
time.sleep(2)

In [16]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [17]:
urls=[]
for i in range(10):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a[1]"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [18]:
rating=[]
review=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # click on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            review.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            rating.append(b.text)
        time.sleep(1)
        #clicking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages for all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                review.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                rating.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(1)
            except:
                break
    except:
        print("NaN")

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [20]:
df2=pd.DataFrame({})#making dataframe
df2['Full_Reviews']=review
df2['Ratings']=rating
df2

                                           Full_Reviews Ratings
0     Awesome Watch , More better than I ve expected...       5
1                                          Nice product       5
2                                                 Super       3
3                             Extremely value for money       5
4                                                  Nice       3
...                                                 ...     ...
4760  0 stat because not working and refused to repa...       1
4761                        Bettery back up is very bad       2
4762                 Very good looking product. Thanks!       5
4763                         It is fake watch don't Buy       1
4764                                       Good product       5

[4765 rows x 2 columns]

In [21]:
dt1=pd.concat([df1,df2],axis=0).reset_index()
dt1=dt1.drop('index',axis=1)
dt1

                                           Full_Reviews Ratings
0     Nice laptop...\ni5 processor is good coupled w...       5
1     Nice smooth great display the best of the mone...       5
2     The product was as advertised and my son is su...       5
3     awesome beast. everything top notch and full v...       5
4     Good product,however a six core cpu and 1tb SS...       5
...                                                 ...     ...
7956  0 stat because not working and refused to repa...       1
7957                        Bettery back up is very bad       2
7958                 Very good looking product. Thanks!       5
7959                         It is fake watch don't Buy       1
7960                                       Good product       5

[7961 rows x 2 columns]

In [24]:
dt1.to_csv("laptop+watches.csv")

In [30]:
# Clearing search bar
driver.find_element_by_xpath("//input[@class='_3704LK']").clear()

##### Phones

In [41]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Phones")

In [42]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [44]:
urls=[]
for i in range(2):
    for j in driver.find_elements_by_xpath("//div[@class='_2kHMtA']/a"):
        urls.append(j.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [45]:
rating=[]
review=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            review.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            rating.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                review.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                rating.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(1)
            except:
                break
    except:
        print("NaN")

NaN
NaN

In [46]:
df1=pd.DataFrame({})
df1['Full_Reviews']=review
df1['Ratings']=rating
df1

                                           Full_Reviews Ratings
0     This phone is best in this price\nCamera very ...       5
1     Overall it's a superb phone with good features...       5
2     Perfect Smartphone in this range\nWith a power...       5
3     There is nothing said to be bad . Everything i...       5
4     First time real me giving best camera, best ga...       5
...                                                 ...     ...
1879  Infinix smart 5A very nice mobile.\nThe mobile...       5
1880  This is so good phone under this price. My Lab...       5
1881  Best smartphone in this prise. I'm fully satis...       5
1882  Overall the smart phone is value for money but...       5
1883  Good product in this budget range. Camera coul...       5

[1884 rows x 2 columns]

In [47]:
dt2 = pd.concat([dt1,df1],axis=0).reset_index()
dt2=dt2.drop('index',axis=1)
dt2

                                           Full_Reviews Ratings
0     Nice laptop...\ni5 processor is good coupled w...       5
1     Nice smooth great display the best of the mone...       5
2     The product was as advertised and my son is su...       5
3     awesome beast. everything top notch and full v...       5
4     Good product,however a six core cpu and 1tb SS...       5
...                                                 ...     ...
9840  Infinix smart 5A very nice mobile.\nThe mobile...       5
9841  This is so good phone under this price. My Lab...       5
9842  Best smartphone in this prise. I'm fully satis...       5
9843  Overall the smart phone is value for money but...       5
9844  Good product in this budget range. Camera coul...       5

[9845 rows x 2 columns]

In [48]:
dt2.to_csv("phone.csv")

In [49]:
# Clearing search bar
driver.find_element_by_xpath("//input[@class='_3704LK']").clear()

##### Headphone

In [50]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("headphone")
time.sleep(2)
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [61]:
urls=[]
for j in range(2):
    for i in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a"):
        urls.append(i.get_attribute("href"))
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [62]:
rating=[]
review=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() 
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            review.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            rating.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                review.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                rating.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("NaN")

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [65]:
df1=pd.DataFrame({})
df1['Full_Reviews']=review[:9195]
df1['Ratings']=rating[:9195]
df1

                                           Full_Reviews Ratings
0     This collar earphones is really good in sound ...       5
1     Best product of Mivi. Enjoying listening music...       5
2     So Now I received my first mivi product.\nThe ...       5
3     Value for money!!\n\nGot it delivered within 3...       5
4     Definitely a good pick for the price. The soun...       4
...                                                 ...     ...
9190   Great product in this price....fully satisfied 🤍       5
9191                                           Nice one       5
9192                                  Perfect product!!       5
9193                                          Very nice       4
9194                                           Good job       5

[9195 rows x 2 columns]

In [67]:
dt3 = pd.concat([dt2,df1],axis=0).reset_index()
dt3=dt3.drop('index',axis=1)
dt3

                                            Full_Reviews Ratings
0      Nice laptop...\ni5 processor is good coupled w...       5
1      Nice smooth great display the best of the mone...       5
2      The product was as advertised and my son is su...       5
3      awesome beast. everything top notch and full v...       5
4      Good product,however a six core cpu and 1tb SS...       5
...                                                  ...     ...
19035   Great product in this price....fully satisfied 🤍       5
19036                                           Nice one       5
19037                                  Perfect product!!       5
19038                                          Very nice       4
19039                                           Good job       5

[19040 rows x 2 columns]

In [68]:
dt3.to_csv("headphones.csv")

#### Router

In [72]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys("Router")
time.sleep(2)

In [73]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [74]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a[2]"):
    urls.append(i.get_attribute("href"))

In [76]:
rating=[]
review=[]
for k in urls:
    driver.get(k)
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() # clcik on see all reviews
        time.sleep(2)
        # fetching first pages reviews
        for a in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            review.append(a.text)
        for b in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            rating.append(b.text)
        time.sleep(1)
        #clciking on second page for reviews
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(2)
        # running loop till the end of pages of all reviews
        while True:
            time.sleep(2)
            for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                review.append(i.text)
            for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                rating.append(j.text)
            try:
                driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
                time.sleep(2)
            except:
                break
    except:
        print("no reviews")

no reviews
no reviews
no reviews
no reviews
no reviews
no reviews

In [77]:
print(len(rating),len(review))

1037 1037

In [78]:
df1=pd.DataFrame({})
df1['Full_Reviews']=review
df1['Ratings']=rating
df1

                                           Full_Reviews Ratings
0     The best router...2021, i Really recommended t...       5
1     Amazing product for the price... Easy installa...       4
2     Wrost 1st one month it will work nxt month it ...       1
3                                               It's ok       4
4             Very good product good range high speed 👍       5
...                                                 ...     ...
1032                     Verry Nice router best quality       4
1033  I bought it and installed and have started to ...       3
1034                                       Nice product       5
1035  Its nice product. Range is mentioned 500 squar...       4
1036                                       Nice product       5

[1037 rows x 2 columns]

In [79]:
dt = pd.concat([dt3,df1],axis=0).reset_index()
dt=dt.drop('index',axis=1)
dt

                                            Full_Reviews Ratings
0      Nice laptop...\ni5 processor is good coupled w...       5
1      Nice smooth great display the best of the mone...       5
2      The product was as advertised and my son is su...       5
3      awesome beast. everything top notch and full v...       5
4      Good product,however a six core cpu and 1tb SS...       5
...                                                  ...     ...
20072                     Verry Nice router best quality       4
20073  I bought it and installed and have started to ...       3
20074                                       Nice product       5
20075  Its nice product. Range is mentioned 500 squar...       4
20076                                       Nice product       5

[20077 rows x 2 columns]

In [80]:
dt.to_csv("Ratings_Scrapped_Data")